body{
	margin: 0;
	font-family: Helvetica , Arial , sans-serif;
	background-color: lightgrey;
	
}
header{
	
	text-align: center;
	padding-top: 20px ;
	padding-bottom: 20px;
}
.text{
	text-align: center;
	font-size: 30px;
	font-family: 'Lobster', cursive;
              }


h1,h2{
	
	font-size: 50px;
font-family: 'Neonderthaw', cursive;
	}

header h1{
	color: darkblack;
}
header img{
	border-radius: 150px;
	border: 10px solid black;
}

p{
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
}
li{
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
}
main img{
	padding-left: 60px;

}
.hanu{
	padding-left: 40px;
}